
* {
    /* CSS HEX */
--buff: #f3de8aff;
--vivid-tangerine: #eb9486ff;
--denim: #2e5eaaff;
--cultured: #f9f8f8ff;
--zomp: #2ca58dff;

/* CSS HSL */
--buff: hsla(48, 81%, 75%, 1);
--vivid-tangerine: hsla(8, 72%, 72%, 1);
--denim: hsla(217, 57%, 42%, 1);
--cultured: hsla(0, 8%, 97%, 1);
--zomp: hsla(168, 58%, 41%, 1);

/* SCSS HEX */
$buff: #f3de8aff;
$vivid-tangerine: #eb9486ff;
$denim: #2e5eaaff;
$cultured: #f9f8f8ff;
$zomp: #2ca58dff;

/* SCSS HSL */
$buff: hsla(48, 81%, 75%, 1);
$vivid-tangerine: hsla(8, 72%, 72%, 1);
$denim: hsla(217, 57%, 42%, 1);
$cultured: hsla(0, 8%, 97%, 1);
$zomp: hsla(168, 58%, 41%, 1);

/* SCSS RGB */
$buff: rgba(243, 222, 138, 1);
$vivid-tangerine: rgba(235, 148, 134, 1);
$denim: rgba(46, 94, 170, 1);
$cultured: rgba(249, 248, 248, 1);
$zomp: rgba(44, 165, 141, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #f3de8aff, #eb9486ff, #2e5eaaff, #f9f8f8ff, #2ca58dff);
$gradient-right: linear-gradient(90deg, #f3de8aff, #eb9486ff, #2e5eaaff, #f9f8f8ff, #2ca58dff);
$gradient-bottom: linear-gradient(180deg, #f3de8aff, #eb9486ff, #2e5eaaff, #f9f8f8ff, #2ca58dff);
$gradient-left: linear-gradient(270deg, #f3de8aff, #eb9486ff, #2e5eaaff, #f9f8f8ff, #2ca58dff);
$gradient-top-right: linear-gradient(45deg, #f3de8aff, #eb9486ff, #2e5eaaff, #f9f8f8ff, #2ca58dff);
$gradient-bottom-right: linear-gradient(135deg, #f3de8aff, #eb9486ff, #2e5eaaff, #f9f8f8ff, #2ca58dff);
$gradient-top-left: linear-gradient(225deg, #f3de8aff, #eb9486ff, #2e5eaaff, #f9f8f8ff, #2ca58dff);
$gradient-bottom-left: linear-gradient(315deg, #f3de8aff, #eb9486ff, #2e5eaaff, #f9f8f8ff, #2ca58dff);
$gradient-radial: radial-gradient(#f3de8aff, #eb9486ff, #2e5eaaff, #f9f8f8ff, #2ca58dff);
}

body {
    --color1: #ffffff;
    --color2: #ffffff;
    --color3: #ffffff;
    --color4: #ffffff;
    --color5: #ffffff;

    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    /* --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1); */

    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--color2);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

section {
    background-color: var(--color5);
    width: 1000px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px var(--vivid-tangerine);
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}

h1{
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

h3 {
    font-size: 1.5rem;
}

.gutter-right {
    margin-right: 20px;
}

.main-logo {
    animation: pulse 5s infinite ease-in-out;
}

header img {
    height: var(--header-height);
}

img {
    border-radius: 15px;
    border: solid 4px var(--denim);

}

content {
    width: 80%;
}

p {
    margin: var(--gutter);
}
  
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}
  
  @keyframes pulse {
    20% {
      transform: rotate3d(-10, -10, -10, 50deg) scale(1.2);
    }

    40% {
        transform: rotate3d(10, 10, -10, 50deg) scale(1);
    }

    60% {
        transform: rotate3d(-10, 10, 10, 50deg) scale(1.2);
      }

    80% {
        transform: rotate3d(10, 10, 10, 50deg) scale(1);
    }

  }